.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
node_modules/
dist/
src-tauri/target/
src-tauri/gen/*
!src-tauri/gen/android/
src-tauri/gen/android/*
!src-tauri/gen/android/app/
src-tauri/gen/android/app/*
!src-tauri/gen/android/app/build.gradle.kts
!src-tauri/gen/android/app/src/
src-tauri/gen/android/app/src/*
!src-tauri/gen/android/app/src/main/
src-tauri/gen/android/app/src/main/*
!src-tauri/gen/android/app/src/main/AndroidManifest.xml
!src-tauri/gen/android/app/src/main/java/
src-tauri/gen/android/app/src/main/java/*
!src-tauri/gen/android/app/src/main/java/dev/
src-tauri/gen/android/app/src/main/java/dev/*
!src-tauri/gen/android/app/src/main/java/dev/undistracted/
src-tauri/gen/android/app/src/main/java/dev/undistracted/*
!src-tauri/gen/android/app/src/main/java/dev/undistracted/timer/
!src-tauri/gen/android/app/src/main/java/dev/undistracted/timer/*.kt
src-tauri/.tauri/
